@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@ant-prefix: conception-antd;

body {
    background-color: #333333;
}

div.conception-antd-drawer-body {
    padding: 0;
}

.conception-antd-collapse-content > .conception-antd-collapse-content-box {
    padding: 0;
}
